@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');




.grid {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: auto;
    grid-gap: 1em;   
}

header {
    grid-column: 1 / 4;
    color: red;
}


aside {
    padding:  25px 0px 200px 0px;
    margin: 25px 0px 200px 0px;
    font-family: 'Cormorant Garamond', serif;
}


h3 {
 text-align: center;   
 text-decoration: underline;
}

#inputForm,
#textAreaForm,
.btn {
    display: flex;
    justify-content: center;
    padding: 7px;
    margin: 5%;
    border-bottom: 1px solid #888;
    background: transparent;
    font-family: 'Cormorant Garamond', serif;
   
    
}

.btn {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
    /* margin: 0; */
}


.form-control {
    border: none;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    width: 100%;
}

.form-control:hover {
   opacity: 0.5;
}

#textAreaForm {
    height: 200px;
}
#inputForm:focus,
#textAreaForm:focus,
.form-control:focus, 
.form-group,
textarea:focus {
    box-shadow:none;
    background-color: none;
    outline: none;
   border: none;
}


#inputForm::selection,
#textAreaForm::selection,
.form-control::selection,
.form-group::selection,
.btn::selection,
textarea::selection {
    outline: none;
    background-color: none;
  } 

#inputForm:hover,
#textAreaForm:hover {
    color: #b9807d;
    border-bottom: 1px solid #b9807d; 
}

.btn:hover {
    box-shadow:
    1px 1px 1px 1px #b9807d,
    1px 1px 1px 1px #b9807d,
    1px 1px 1px 1px #b9807d;

-webkit-transform: translateX(-2px);
transform: translateX(-2px);
opacity: 0.5;
}



/* MOBILE RESPONSIVE CODE */

/* @media (min-width: 700px) {
    
  } */