
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Marck+Script');


/* #jumbo h1 {
    /* text-shadow: 0px 3px 0px #b2a98f; */
    /* 0px 14px 10px rgba(0,0,0,0.15),
    0px 24px 2px rgba(0,0,0,0.1),
    0px 34px 30px rgba(0,0,0,0.1); */
    /* font-family: 'Titillium Web'; */
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: 'Marck Script', cursive; */
    /* letter-spacing: 10px; */
    /* margin: 0px;
    color: white;
text-shadow: 0px 2px 3px #555; */
    

        
    /* text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1); */
    /* font-family: 'Josefin Sans', cursive; */
/* } */ 

h1:first-letter{
    text-transform: uppercase;
    font-size: 70;
}
#jumbo h1 {
color: #DCDCDC;
font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
letter-spacing:0.1em;
text-align: right;
margin: 40px auto;
text-transform: lowercase;
line-height: 145%;
font-variant: small-caps;

color:#DCDCDC;
/* color: transparent; */
font-weight: 100; margin-bottom: 0;
/* text-shadow: 0px 2px 3px #4E443C;  */

text-shadow: 0px 2px 3px #DCDCDC; 


}

#jumbo h5{
    font-style: italic;
    color:#DCDCDC;
/* color: transparent; */
font-weight: 600; margin-bottom: 0;
text-shadow: 0px 2px 3px #000000; 
}