
.list-group
 {
   list-style: none;
   display: inline;
   display: flex;
   justify-content: center;

}

li img {
    border-radius: 50%;
    display: inline;
    margin: 5%;  
}

.list-group-item {
    /* border-radius: 50%; */
    display: inline;
    margin: 3%;
    height:250px;
    width: 250px;
    text-align: center;
    color: #DCDCDC;
    font-weight: bold;
    font-weight: 600; 
    text-shadow: 0px 2px 3px #000000; 
    font-size: 25px;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.web {
    background-image: url(/Images/LongLeaves3.jpg); 
}

.writing {
    background-image: url(/Images/Stars3.jpg); 
}

.compassion {
    background-image: url(/Images/YellowFlowers3.jpg); 
}

.teamwork {
    background-image: url(/Images/PurpleFlowers3.jpg); 
}

span {
    position: relative;
    top: 33%;

}

